{% extends 'base.html.twig' %}

{% block body %}

    <div ng-app="shorturlApp" ng-controller="shorturlCtrl">



        <nav class="navbar navbar-default" style="font-size: 16px;">
            <div class="container-fluid" style="padding: 10px; border-bottom: 1px solid rgb(78, 104, 108);">

                <div class="col-sm-3">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Brand</a>
                    </div>
                </div>

                <div class="col-sm-6">
                    <form style="text-align: center;" ng-submit="createshorturl()">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Paste Link here..." ng-model="urlentry.longurl">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Go!</button>
                                </span>
                        </div>
                        <div class="row">
                            <div class="container">
                                <div class="pull-left">Advanced Options</div>
                            </div>
                        </div>

                        <div class="row" style="display: none;">
                            <hr/>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="alias" ng-model="urlentry.userId">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="alias" ng-model="urlentry.alias">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="description" ng-model="urlentry.description">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="description" ng-model="urlentry.password">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="description" ng-model="urlentry.click">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="description" ng-model="urlentry.metaTitle">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="description" ng-model="urlentry.metaDescription">
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

                <div class="col-sm-3">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Link</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="shorturl-create-box">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="row">
                        <div class="well">
                            <span id="shorturl-loader"><img src="{{ asset('images/loaders/ring-loader.svg') }}" alt="Processing..."/></span>

                            <div id="shorturl-link-created" style="color: #f0bf83; display: none;">
                                <div id="shorturl-link">
                                    <a class="lead"  href="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.baseUrl }}/[[ shorturl_list.shortcode  ]]" target="_blank">{{ app.request.getSchemeAndHttpHost() }}{{ app.request.baseUrl }}/[[ shorturl_list.shortcode  ]]</a>
                                    <button class="btn btn-primary btn-xs copy-btn">Copy Link</button>
                                    <a href="#!" class="pull-right lead"><i class="fa fa-bar-chart fa-hover"></i></a>
                                    <a href="#!" class="pull-right lead"><i class="fa fa-facebook-official fa-hover"></i></a>
                                    <a href="https://twitter.com/intent/tweet?url={{ app.request.getSchemeAndHttpHost() }}{{ app.request.baseUrl }}/[[ shorturl_list.shortcode  ]]" class="pull-right lead twitter-share-button" target="_blank"><i class="fa fa-twitter fa-hover"></i></a>
                                    <p class="small">[[ shorturl_list.longurl ]]</p>
                                </div>

                                <div >
                                    <div id="shorturl-error">
                                        <div>
                                            <p style="visibility: visible; animation-duration: 2s; animation-delay: 300ms; animation-iteration-count: infinite; animation-name: flash;" class="wow flash animated pull-left" data-wow-delay="300ms" data-wow-iteration="infinite" data-wow-duration="2s">
                                               <i class="fa fa-exclamation-triangle "></i>
                                            </p>
                                            &nbsp;
                                            Oops..! [[ shorturl_list.error ]]
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <i id="close-shorturl-create-box" class="fa fa-times fa-hover pull-right"></i>
                    </div>
                </div>
            </div>

        </nav>



        {#Custom Short: <input type="text" ng-model="urlentry.token"><br>#}
        {#Long Url: <input type="text" ng-model="urlentry.url"><br>#}
        {#<button ng-click="createshorturl()">Create</button>#}
    </div>

    <script>
        var app = angular.module('shorturlApp', []).config(function($interpolateProvider){
            $interpolateProvider.startSymbol('[[').endSymbol(']]');
        });
//        var app = angular.module('shorturlApp', []);
        app.controller('shorturlCtrl', function($scope, $http) {

            $scope.urlentry = {};

            $scope.createshorturl = function() {


//                show #shorturl_create_box
                $("#shorturl-create-box").show(200);
                //                show shorturl-loader loader
                $("#shorturl-link").hide();
                $("#shorturl-error").hide();
                $("#shorturl-loader").delay(250).show(100);


                $http.post("{{ app.request.getSchemeAndHttpHost() }}{{ app.request.baseUrl }}//api/urls", $scope.urlentry)
                        .success(function(response) {
                            $scope.shorturl_list = response;

                            if(!response.shortcode){
                                $("#shorturl-link").hide();
                                $("#shorturl-error").show();
                            }else{
//                                $scope.urlentry = {longurl : "helo"};
                                $scope.urlentry = {};
                                $("#shorturl-link").show();
                            }

//                            hide shorturl-loader loader on response creation
                            $("#shorturl-loader").hide();
//                            show #shorturl-link-created
                            $("#shorturl-link-created").show(250);
                        });
            };

        });
    </script>

    <script>
        $( document ).ready(function() {
            $("#close-shorturl-create-box").click(function(){
                $("#shorturl-create-box").hide(200);
            });
        });
    </script>


{% endblock %}